.infoArea{
    background: #2b2b2b url('~@/assets/images/info.png') no-repeat 10px 10px;
    background-size: 20px 20px;
    border: 1px solid #444;
    padding: 10px 10px 10px 38px;
    line-height: 20px;
    min-height: 40px;
}
